@media (prefers-color-scheme: light) {
  .layout {
    color: black;
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .layout {
    color: white;
    background-color: black;
  }
}

.layout body {
  margin: 0;
}
